# Файл с секретными данными
.env

# Папка виртуального окружения
venv/
__pycache__/

# Файлы IDE
.idea/
.vscode/

# Папка с данными (если она большая)
data/

# Папка с логами
logs/

# Папка с отчетами
reports/