# Файл с секретными данными
.env

# Папка виртуального окружения
.venv/
venv/
__pycache__/


# Файлы IDE
.idea/
.vscode/

# Временные файлы и бэкапы от редакторов
*.bkp
.$*
.backup

# Папка с данными
data/

# Папка с логами
logs/

# Папка с отчетами
reports/

# Папка со списками для скачки
datalists/

# Кэш тестов
.pytest_cache

# Отчеты модуля оптимизации
optimizer/reports/